/* header elements */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border-bottom: 3px solid #4B2E2B;
  margin: 0 30% 20px;
  background-color: #FFF8F0;
}
#header-title {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #4B2E2B;
  padding-left: 20px;
}
.header-buttons {
  margin-left: auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#sound-btn {
  background-color: #8C5A3C;
  border-radius: 10px;
  border: 1px solid #4B2E2B;
  border-bottom: 3px solid #4B2E2B;
  cursor: pointer;
}
#task-btn {
  background-color:  #8C5A3C;
  border-radius: 10px;
  border: 1px solid #4B2E2B;
  border-bottom: 3px solid #4B2E2B;
  cursor: pointer;
}
#sign-in-btn {
  background-color: #FFF8F0;
  border-radius: 10px;
  border: 1px solid #C08552;
  border-bottom: 3px solid #C08552;
  cursor: pointer;
}
.sound-icon {
  color: #FFF8F0;

}
.task-icon{ 
   color: #FFF8F0;
}


/* sound window */
.sound-popup {
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #FFF8F0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  visibility: hidden;
}
h2 {
  padding: 10px;
}
.openPopup {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%);
}


/* body yody */
body {
  background-color: #C08552;
}
h1 {
  text-align: center;
}


[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

/* container */
.pom-container {
  background-color: #FFF8F0;
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* tabs bar */
.navbar {
  width: 100%;
  height: 60px;

  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center
}
.navbar .tabs {
  display: flex;
  gap: 2rem;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}



/* input box, pomodoro time and break time */
input {
  width: 50px;
  height: 30px;
}

.unit{
  font-size: 2rem;
}



/* buttons */
.btn-container {
  margin: 20px;
  display: flex;
  gap: 1rem;
}
.btns {
  background-color: white;
  border:none;
  padding:15px;
  border-radius: 4px;
  font-size: 24px;

  cursor: pointer;
}
#stop-btn{
  display: none;
}
#reset-btn{
  display:none;
}
#resume-btn {
  display: none;
}